/************************ CSS Colors *************************
*					Hex			RGB
*	White:			#fff		255 255 255
*	Light Grey:		#f7f7f7		247 247 247
*	Red:			#F05D5E		254 74  73
*	Dark Teal:		#1F363D		13  70  86
*	Turquoise: 		#225560		0   159 183
*	Chocolate:		#1F363D		88  75  83
*F5FBEF - white
*1C3144
**************************************************************/

/********************** Map Style ***************************/

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

#map {
	height: 100%;
}

/********************* Search Bar Style *********************/

.search-form {
	position: absolute;
	width: 400px;
	left: 1%;
	top: 1%;
/*	background: #FEFFFF;*/
	z-index: 5;
}

.search-box {
     margin-bottom: 5px;
 }

.search-form input {
	width: 300px;
	height: 20px;
	padding: 5px;
	font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 0;
	background: #FFFFFF;
	font-weight: normal;
	font-style: italic;
    margin-bottom: 2px;
    border-radius: 5px;
}

.search-form input-state {
	width: 300px;
	height: 20px;
	padding: 5px;
	font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 0;
	background: #FFFFFF;
	font-weight: normal;
	font-style: italic;
    border-radius: 5px;
}

.search-form input:focus {
	outline: 0;
	background: #fff;
}

.search-form button {
	overflow: visible;
	position: absolute;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 62px;
	width: 62px;
	font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    background: #0F0C27;
	color: #fff;
    text-transform: uppercase;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    border: 1px white;
    border-style: solid;
    border-radius: 10px;
/*    margin-left: 5px;*/
}

.search-form button:hover {
    background-color: #231D4D;
}

/********************* Search Directions *****************/
.search-directions {
	position: absolute;
	width: 400px;
	left: 1%;
	top: 90px;
	z-index: 5;
}

.search-directions button{
    overflow: visible;
	position: absolute;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 45px;
	width: 375px;
	font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    background: #0F0C27;
	color: #fff;
    text-transform: uppercase;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    border: 1px white;
    border-style: solid;
}

.search-directions button:hover {
    background-color: #231D4D;
}

/******************** Search Info Pane ***********************/

.search-info {
	position: absolute;
	width: 400px;
	left: 5%;
	top: 90px;
	background: #FFFFFF;
	z-index: 5;
}

.address-form {
	padding: 20px 0;
	font: bold 15px 'trebuchet MS', 'lucida sans', 'Tahoma';
	border-bottom: 1px solid black;
	background-color: #F5FBEF;
}

.search-info label {
	width: 90px;
	padding-left: 10px;
	display: inline-block;
	text-align: left;
}

.search-info input {
	width: 270px;
	margin: 3px;
}

.address-form .state-input {
	width: 50px;
	margin-right: 53px;
}

.address-form .zip-input {
	width: 60px;
}

.search-info button {
	border: 0;
	padding: 0;
	margin: 20px 1px 0px 1px;
	cursor: pointer;
	height: 30px;
	font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
	color: #fff;
	text-transform: uppercase;
	border-radius: 3px;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.search-info .commit-button {
	width: 175px;
	background: #225560;
}

.search-info .delete-button {
	width: 95px;
	background: #F05D5E;
	margin-left: 10px;
}

.search-info .revert-button {
	width: 95px;
	background: #1F363D;
}

.search-info .address-commit-button {
	width: 175px;
	background: #225560;
}

.search-info .address-delete-button {
	width: 95px;
	background: #F05D5E;
	margin-left: 10px;
}

.search-info .address-revert-button {
	width: 95px;
	background: #1F363D;
}

.search-info .add-business-button {
	width: 100%;
	padding: 0;
	margin-top: 0px;
	background: #1F363D;
}

/*********************** Option Buttons **************************/

.options {
	position: absolute;
	right: 10px;
	z-index: 5;
	top: 20px;
    width: 50px;
}

.options img {
	height: 25px;
	width: 25px;
}

.options button {
	height: 50px;
	width: 50px;
    background: #0F0C27;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
    font-size: 15px;
    border: 2px solid #fff;
    border-radius: 25px;
    outline: none;
    text-align: center;
    padding: 0;
    margin: 2.5px;
}

.options .add-pin {
	position: relative;
	float: left;
}

.options .update {
	position: relative;
	float: left;
}

.options .toggle-menu {
	position: relative;
	float: right;
}


.options button:hover {
	background-color: #231D4D;
}

.options button:focus {
/*
    outline: solid;
    outline-color: floralwhite;
*/
}

.dropdown #pin-toggle {
	width: 154px;
	font-size: 12px;
	float: right;
}

/*********************** Venue Items ******************************/

.venue-list {
	display: table;
	width: 100%;
	overflow: hidden;
}

.venue-item {
	vertical-align: middle;
	line-height: 40px;
	height: 40px;
	width: 100%;
	padding: 10px;
	font: normal 15px 'trebuchet MS', 'lucida sans', 'Tahoma';
	border-bottom: 1px solid black;
}

.venue-priority {
	float: right;
	margin-right: 20px;
}

.venue-item:hover {
	background-color: rgba(0, 255, 0, 0.2);
	cursor: pointer;
}

.venue-wrapper {
	padding-top: 13px;
} 

/********************* Address Header ******************************/

.edit-container {
	padding-bottom: 20px;
	font: normal 15px 'trebuchet MS', 'lucida sans', 'Tahoma';
	border-bottom: 1px solid black;
	background-color: #f0f0f0;
}

.address-container {
	display: table;
	width: 100%;
	overflow: hidden;
}

.address-input{
     font-size: 15px;
}

.city-input{
    font-size: 15px;
}
 
.zip-input{
    font-size: 15px;
}

.address {
	padding-left: 35px;
}

.location-address {
	display: table-cell;
	vertical-align: middle;
	height: 40px;
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid black;
	font: normal 15px 'trebuchet MS', 'lucida sans', 'Tahoma';
}

.address-container .address {
	text-align: center;
}

.edit-container label {
	padding-top: 20px;
	width: 90px;
	padding-left: 10px;
	display: inline-block;
	text-align: left;
}

.edit-container input {
	width: 270px;
	margin: 3px;
}

.edit-container .priority-label {
	width: 50px;
}

.edit-container .priority-input {
	width: 20px;
	margin-right: 10px;
    font-size: 15px;
}

.edit-container .venue-input {
	width: 168px;
    font-size: 15px;
}

.edit-container .category-input {
	width: 275px;
}

.location-address:hover {
	background-color: rgba(0, 255, 0, 0.2);
	cursor: pointer;
}

/*********************** Sat Buttons **************************/

.satView {
	position: absolute;
	right: 5%;
	z-index: 5;
	bottom: 20px;
}

.satView img {
	height: 25px;
	width: 25px;
}

.satView button {
	height: 50px;
	width: 50px;
	background: #1F363D;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	margin: 1px;
    border: none;
    border-radius: 25px;
    outline: none;
}

.satView .viewUpdate {
	position: relative;
	float: left;
}

/*********************** Zoom Buttons **************************/

.zoom {
	position: absolute;
	right: 2.5%;
    bottom: 20px;
	z-index: 5;
    width: 40px;
}

.zoom button {
	height: 40px;
	width: 40px;
    background: #0F0C27;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	margin: 2.5px;
    font-size: 15px;
    border: 2px solid #fff;
    border-radius: 20px;
    outline: none;
}

/******************** Gear Button ********************/

.gear {
	position: absolute;
	left: -3%;
	z-index: 5;
	bottom: -40px;
}

.gear img {
	height: 25px;
	width: 25px;
}

.gear button {
	height: 100px;
	width: 100px;
	background: #0F0C27;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	margin: 1px;
    border: 2px solid #fff;
    border-radius: 50px;
    outline: none;
}

.gear button:hover {
    background-color: #231D4D;
}

.gear .open-gear {
	position: relative;
	float: left;
}

/******************** Sat Button ********************/

.sat {
	position: absolute;
	right: 125px;
	z-index: 5;
	top: 20px;
}

.sat img {
	height: 25px;
	width: 25px;
}

.sat button {
	height: 50px;
	width: 50px;
	background: url(satMap.png) no-repeat;
    background-size: 50px 50px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	margin: 1px;
    border: 2px solid #fff;
    border-radius: 25px;
    outline: none;
}

.sat .toggle-sat {
	position: relative;
	float: left;
}

/******************** Direction Button ********************/

.direction {
	position: absolute;
	right: 65px;
	z-index: 5;
	top: 20px;
}

.direction img {
	height: 25px;
	width: 25px;
}

.direction button {
	height: 50px;
	width: 50px;
	background: #0F0C27;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	margin: 1px;
    border: 2px solid #fff;
    border-radius: 25px;
    outline: none;
}

.direction button:hover {
    background-color: #231D4D;
}

.direction .open-Directions {
	position: relative;
	float: left;
}

/******************** Sat Button ********************/

.pin {
	position: absolute;
	right: 185px;
	z-index: 5;
	top: 20px;
}

.pin img {
	height: 25px;
	width: 25px;
}

.pin button {
	height: 50px;
	width: 50px;
	background: #0F0C27;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	margin: 1px;
    border: 2px solid #fff;
    border-radius: 25px;
    outline: none;
}

.pin button:hover {
    background-color: #231D4D;
}


.pin .toggle-pin {
	position: relative;
	float: left;
}

/******************** direction menu ***********************/

.menu {
    background-color: #0F0C27;
    position: fixed;
    top: 0;
    height: 100%;
    width: 387px;
    margin-left: -387px;
    font-size: 1em;
    font-weight: 700;
    overflow: auto;
    transition: .25s;
    z-index: 10;
}

.menu-show {
    margin-left: 0;
}

.menu-hide {
    margin-left: -387px;
}

.close {
    position: absolute;
    height: 50px;
	width: 50px;
    right: 0%;
	background: #0F0C27;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	margin: 1px;
    border: none;
    outline: none;
}

.directions-label {
    position: absolute;
    height: 50px;
	width: 100px;
    left: 5%;
    top: 15px;
	background: #0F0C27;
	color: #fff;
	text-transform: uppercase;
	margin: 1px;
    font-size: 25px;
}

.directions-form {
	position: absolute;
	width: 300px;
	left: 5%;
	top: 60px;
	z-index: 5;
}

.swap {
    position: absolute;
	width: 50px;
    height: 100px;
	right: 0%;
	top: 100px;
	z-index: 5;
    background: #0F0C27;
	color: #fff;
    border: none;
}

.start-label {
    height: 50px;
	width: 100px;
    left: 0%;
    top: 15px;
	background: #0F0C27;
	color: #fff;
	text-transform: uppercase;
	margin: 1px;
    font-size: 15px;
}

.stop-label {
    height: 50px;
	width: 100px;
    left: 0%;
    top: 15px;
	background: #0F0C27;
	color: #fff;
	text-transform: uppercase;
	margin: 1px;
    font-size: 15px;
    margin-top: 15px;
}

.directions-form input {
	width: 300px;
	height: 20px;
	padding: 5px;
	font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 0;
	background: #FFFFFF;
	font-weight: normal;
	font-style: italic;
    margin-bottom: 2px;
    margin-top: 2px;
}

/******************** travel type select ***********************/
.segmented-control {
	position: absolute;
	width: 300px;
	left: 5%;
	top: 250px;
	z-index: 5;
    display: table;
}

.transit {
	width: 40px;
    height: 40px;
	z-index: 5;
    background: #fff;
	color: #0F0C27;
    border: none;
    padding: 0;
/*    display: table-cell;*/
}

.get-directions {
	position: absolute;
	width: 250;
    height: 40px;
	left: 45%;
	top: 250px;
	z-index: 5;
    font-size: 20px;
    font-style: oblique;
}

.details-header {
	position: absolute;
	width: 300px;
    height: 50px;
	left: 5%;
	top: 420px;
	z-index: 5;
}

.details-header label {
    height: 50px;
	width: 300px;
    left: 0%;
	background: #0F0C27;
	color: white;
    font-size: 17px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.google-header {
	position: absolute;
	width: 300px;
    height: 50px;
	left: 5%;
	top: 460px;
	z-index: 5;
}

.google-header label {
    height: 50px;
	width: 300px;
    left: 0%;
	background: #0F0C27;
	color: white;
    font-size: 17px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.open-header {
	position: absolute;
	width: 300px;
    height: 50px;
	left: 5%;
	top: 500px;
	z-index: 5;
}

.open-header label {
    height: 50px;
	width: 300px;
    left: 0%;
	background: #0F0C27;
	color: white;
    font-size: 17px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.bing-header {
	position: absolute;
	width: 300px;
    height: 50px;
	left: 5%;
	top: 540px;
	z-index: 5;
}

.bing-header label {
    height: 50px;
	width: 300px;
    left: 0%;
	background: #0F0C27;
	color: white;
    font-size: 17px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.details {
	position: absolute;
	width: 300px;
    height: 50px;
	left: 5%;
	top: 320px;
	z-index: 5;
}

.details label {
    height: 50px;
	width: 300px;
    left: 0%;
	background: #0F0C27;
	color: white;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.details2 {
	position: absolute;
	width: 300px;
    height: 50px;
	left: 5%;
	top: 360px;
	z-index: 5;
}

.details2 label {
    height: 50px;
	width: 300px;
    left: 0%;
	background: #0F0C27;
	color: white;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.demo {
	position: absolute;
	width: 300px;
    height: 40px;
	left: 5%;
	top: 600px;
	z-index: 5;
    font-size: 20px;
    font-style: oblique;
}

/********************* On-Map Direction Buttons *****************/
.on-map {
	position: absolute;
	width: 50%;
	left: 2%;
	bottom: 5px;
	z-index: 5;
}

.on-map button{
	float: right;
	border: 0;
	padding: 1px;
	cursor: pointer;
	height: 45px;
	width: 100%;
	font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    background: #0F0C27;
	color: #fff;
    text-transform: uppercase;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    border: 1px white;
    border-style: solid;
    margin: 2px;
}

.on-map button:hover {
    background-color: #231D4D;
}